%h1 Are you drinking coffee or mate?

= link_to :home_page, :class => "btn btn-primary btn-large" do
  %i.icon-heart.icon-white
  Mate
= link_to :home_page, :class => "btn btn-primary btn-large" do
  %i.icon-headphones.icon-white
  Coffee